.DS_Store
.vscode/
__pycache__/
.vscode/
.venv/
env_nvd_rag/
dataset/
detasetcopy/
model/
youtube_dataset/
youtube_dataset_vector_embedding/
tempDir/
kaizen_theme/
config/
*.pem
*.logs

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

